:root{
  --mainText : #fff;
  --grayText : #eeeeee;

  --blueColor : #1e90ff;
  --redColor : red;

  --mainBackgroundColor : #152028;
  --secondaryBackgroundColor : 	#192734;

  --borderColor : #164D56;

  --themeBorderColor : #fff;

  --previewColor: rgb(25,39,52,0.8);
  --previewShadow: #111921;

  --buttonColor: black;
}
